@page "/textResize"
<h3>TextResize</h3>
<p style="font-size:@fontsizepx">Dit is mijn text met fontsize</p>
<button class="btn btn-primary" @onclick="Up">^</button>
<button class="btn btn-primary" @onclick="Down">v</button>
