@inherits WeatherDayBase

<div class="card bg-light m-2" style="width:250px">
    <div class="card-body text-center">
        <span class="h1 oi oi-@Icon card-header"></span>
        <h1 class="card-title">@Temperature&deg;</h1>
        <p class="card-text">@Summary</p>
    </div>
</div>